.image-cropper-clearfix:after,
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Trigger HasLayout for IE versions 6 and 7 */
/* IE7 */
*+html .image-cropper-clearfix {
  zoom: 1;
}
/* IE6 */
*html .image-cropper-clearfix {
  zoom: 1;
}

.image-cropper-modal-mask {
  position: fixed;
  background: black;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: .9;
}
.image-cropper-modal {
  width: auto;
  height: auto;
  background: #fff;
  position: fixed;
  z-index: 2000;
  border-radius: 10px;
  padding: 10px;
}
.image-cropper-thumb {
  position: relative;
  border: 3px solid #363636;
  float: left;
  cursor: pointer;
}
.selected .image-cropper-thumb {
  border: 3px solid red;
}
.image-cropper-crop-container-inner {
  position: relative;
  margin: 0 0 10px 0;
}
.image-cropper-crop-container-inner img,
.image-cropper-thumb img {
  opacity: .3;
  z-index: 1;
  max-width: 100%;
  float: left;
}
.image-cropper-thumb img {
  width: 100%;
}
.image-cropper-crop-container-inner .image-cropper-cropped-image,
.image-cropper-thumb .image-cropper-cropped-thumb {
  z-index: 2;
  background: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 50px;
  box-sizing: border-box;
  border: 1px dashed #333;
}
.image-cropper-thumbs {
  float: left;
  margin: 0 10px 0 10px;
  list-style-type: none;
  padding: 0;
}
.image-cropper-thumbs li {
  float: left;
}
.image-cropper-thumbs .image-cropper-thumb-label-wrapper {
  margin: 0 3px;
  color: #eee;
  font-family: monospace;
}
.image-cropper-thumb-label-wrapper .image-cropper-thumb-label {
  padding: 2px 3px;
  background: #333;
}
.selected .image-cropper-thumb-label-wrapper .image-cropper-thumb-label {
  background: red;
}
.image-cropper-thumbs .image-cropper-thumb {
  margin: 0 3px 10px;
}